{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
    .pointer {cursor: pointer;}
</style>
       {% endblock style %}
{% block content %}
 <h1>Pure JS Barcode Reader</h1>
<form action="{% url 'accounts:changepassowrd' %}" method="post">
    {% csrf_token %}
    كلمة المرور:<input type="text" name="password" required> <br>
    <br>

    bar code:<input type="text" name="code" required>
    <br>

<button type="submit" id="go">تغيير كلمة المرور</button>

    </form>
{% endblock content %}

{% block script %}

       {% endblock script %}